
.container-button-open{
    display: flex;
    justify-content: center;
}

.container-button-open >button{
    border: 1px solid;
    text-transform: capitalize;
}

.container-button-close{
    display: flex;
    justify-content: center;
}

.container-button-close >button{
    border: 1px solid;
    text-transform: capitalize;
}

.button-close{
    cursor: pointer;
}

.content-title {
    display: flex;
}

.content {
    display: flex;
    justify-content: center;
}

.container-img {
    display: flex;
    justify-content: center;
}

.container-img > figure > img {
    max-width: 100px;
    max-height: 100px;
}

.container-pokemonTypes {
    display: flex;
    justify-content: center;
}

.pokemonType-list {
    padding: 0;
    list-style: square !important;
}

.pokemonType-list__item {
    display: inline;
    margin: 0px 1px;
}

.container-pokemonTypes > .pokemonType-list:nth-child(2) > .pokemonType-list__item::before{
    content: "-";
}

.container-pokemonAbilities {
    display: flex;
    justify-content: center;
}