.navbar{
    display: flex;
    justify-content: space-around;
}

.navigation{
    display: flex;
    justify-content: flex-start;
}

.logo-p {
    max-width: 120px;
    max-height: 80px;
    margin-left: 10px;
}

.logo-p:hover {
    transform: rotate(45deg);
}

.title {
    margin-top: 28px;
}

.title:hover{
    color: blue;
}

.form-search-bar{
    display: flex;
    justify-content: flex-end;
}

.search-bar{
    margin-top: 20px;
    padding: 10px;
    height: 30%;
    width: 70%;
    border-radius: 6px;
    border: 1px solid black;
    color: blue;
    font-weight: bolder;
}
