
.navigation{
    display: flex;
    justify-content: space-between;
}

.logo-p {
    max-width: 120px;
    max-height: 80px;
    margin-left: 1%;
}

.logo-p:hover {
    transform: rotate(45deg);
}

.title {
    margin-left: 1%;
}

.title:hover{
    color: blue;
}

.form-search-bar{
    display: flex;
    justify-content: flex-end;
}

.search-bar{
    margin-top: 20px;
    padding: 10px;
    height: 30%;
    border-radius: 6px;
    border: 1px solid black;
    color: blue;
    font-weight: bolder;
}


@media (max-width: 576px){
    
    .search-bar{
        width: 40%;
    }
    
}